<form id="addForm" action="">
  <table>
    <!-- <tr>
      <td><label for="customerId">客户编号</label></td>
      <td><input id="customerId" type="text"></td>
    </tr> -->
    <tr>
      <td><label for="name">姓名</label></td>
      <td><input id="name" type="text"></td>
    </tr>
    <tr>
      <td><label for="gender">性别</label></td>
      <td><label for="gender_male"><input id="gender_male" name="gender" type="radio">男</label>
        <label for="gender_female"><input id="gender_female" name="gender" type="radio">女</label></td>
    </tr>
    <tr>
      <td><label for="customerSource">客户来源</label></td>
      <td><input id="customerSource" type="text"></td>
    </tr>
    <tr>
      <td><label for="tel">联系电话</label></td>
      <td><input id="tel" type="text"></td>
    </tr>
    <tr>
      <td><label for="email">邮箱</label></td>
      <td><input id="email" type="text"></td>
    </tr>
    <tr>
      <td><label for="address">通讯地址</label></td>
      <td><input id="address" type="text"></td>
    </tr>
    <tr>
      <td><label for="credit">信用状况</label></td>
      <td><input id="credit" type="text"></td>
    </tr>
    <tr>
      <td><label for="dealTimes">交易次数</label></td>
      <td><input id="dealTimes" type="text"></td>
    </tr>
    <tr>
      <td><label for="dealSumMoney">交易金额</label></td>
      <td><input id="dealSumMoney" type="text"></td>
    </tr>
    <tr>
      <td><label for="lastDealTime">最近交易时间</label></td>
      <td><input id="lastDealTime" type="date"></td>
    </tr>
    <tr>
      <td></td>
      <td><img id="submitBtn" src="../images/提交.png" alt=""></td>
    </tr>
  </table>

</form>
