<form action="">
  <table>
    <!-- <tr>
      <td><label for="customerId">客户编号</label></td>
      <td><input id="customerId" type="text"></td>
    </tr> -->
    <tr>
      <td><label for="name">姓名</label></td>
      <td><input id="name" type="text"></td>
    </tr>
    <tr>
      <td><label for="gender">性别</label></td>
      <td><label for="gender_male"><input id="gender_male" name="gender" type="radio">男</label>
        <label for="gender_female"><input id="gender_female" name="gender" type="radio">女</label></td>
    </tr>
    <tr>
      <td><label for="customerSource">客户来源</label></td>
      <td><input id="customerSource" type="text"></td>
    </tr>
    <tr>
      <td><label for="buyTIme">联系电话</label></td>
      <td><input id="buyTIme" type="text"></td>
    </tr>
    <tr>
      <td><label for="saleTime">邮箱</label></td>
      <td><input id="saleTime" type="text"></td>
    </tr>
    <tr>
      <td><label for="price">通讯地址</label></td>
      <td><input id="price" type="text"></td>
    </tr>
    <tr>
      <td><label for="discount">信用状况</label></td>
      <td><input id="discount" type="text"></td>
    </tr>
    <tr>
      <td><label for="discount">交易次数</label></td>
      <td><input id="discount" type="text"></td>
    </tr>
    <tr>
      <td><label for="discount">交易金额</label></td>
      <td><input id="discount" type="text"></td>
    </tr>
    <tr>
      <td><label for="discount">最近交易时间</label></td>
      <td><input id="discount" type="date"></td>
    </tr>
    <tr>
      <td></td>
      <td><img src="../images/提交.png" alt=""></td>
    </tr>
  </table>

</form>
