<form id="addForm" action="">
  <table>
    <tr>
      <td><label for="CarId">车辆编号</label></td>
      <td><input id="CarId" type="text"></td>
    </tr>
    <tr>
      <td><label for="customerId">客户编号</label></td>
      <td><input id="customerId" type="text"></td>
    </tr>
    <tr>
      <td><label for="price">价格</label></td>
      <td><input id="price" type="text"></td>
    </tr>
    <tr>
      <td><label for="discount">折扣</label></td>
      <td><input id="discount" type="text"></td>
    </tr>
    <tr>
      <td><label for="payMethod">结算方式</label></td>
      <td><input id="payMethod" type="text"></td>
    </tr>
    <tr>
      <td></td>
      <td><img id="submitBtn" src="../images/提交.png" alt=""></td>
    </tr>
  </table>

</form>
