<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>汽车营销系统</title>
  <link rel="stylesheet" href="/stylesheets/buttons.css">
  <link rel="stylesheet" href="/stylesheets/Home.css">
  <script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/Home.js"></script>
</head>
<body>
  <div id="header">

  </div>
  <div id="title">
    <p id="title1" class="title">汽车营销管理系统</p>
    <p id="title2" class="title">Keposmile</p>
    <p id="title3" class="title">By nodejs</p>
  </div>
  <div id="tabs">
    <div id="tab1" class="tabs">
      <a href="./car.html" class="button button-action button-action-blue button-large  button-pill">车辆信息</a>
    </div>
    <div id="tab2" class="tabs">
      <a href="./customer.html" class="button button-action button-action-blue button-large  button-pill">客户信息</a>
    </div>
    <div id="tab3" class="tabs">
      <a href="./sale.html" class="button button-action button-action-blue button-large  button-pill">销售情况</a>
    </div>
  </div>
  <div id="footer">
  </div>
</body>
</html>
