<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>车辆信息</title>
  <link rel="stylesheet" href="../stylesheets/buttons.css">
  <link rel="stylesheet" href="../stylesheets/public.css">
  <link rel="stylesheet" href="../stylesheets/car.css">
  <script type="text/javascript" src="../javascripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../javascripts/car.js"></script>
</head>
<body>
  <div id="header">
    <div id="tabsBlock">
      <a href="/" class="button button-action button-large  button-pill">首页</a>
      <a href="/list?listType=car" class="button button-action button-large  button-pill">车辆信息</a>
      <a href="/list?listType=customer" class="button button-action button-large  button-pill">客户信息</a>
      <a href="/list?listType=sale" class="button button-action button-large  button-pill">销售情况</a>
    </div>
    <div id="searchBar">
      <input type="text" id="searchInput" style="  width:250px; height:30px; font-size: 20px;border-radius:15px;padding:3px 10px;">
      <a href=""><img src="../images/搜索.png" alt=""></a>
    </div>
  </div>

  <div id="InfoList">
    <div id="title">
      <h3><%= title%></h3>
      <div id="addInfo">
        <img src="../images/加号.png" alt="">
        <p>添加信息</p>
      </div>
    </div>
    <div id="TypeList">
      <%if(listType=="car"){%>
        <!-- car list part -->
        <div><%= listType%>1</div>

      <% }else if(listType=="customer"){%>
        <!-- customer list part -->
        <div><%= listType%>2</div>
      <% }else if(listType=="sale"){%>
        <!-- sale list part -->
        <div><%= listType%>3</div>
      <%}%>
    </div>
  </div>
  <div id="footer">

  </div>

</body>
</html>
