td>p>a{
  text-decoration:none;
  display: block;
  color: #4FFFFF;
  /*background-color: rgba(255,255,255,0.4);
  box-shadow: 0px 0px 20px #FFF;*/
  padding: 4px;
  border-radius: 20px;
}
td>p{
  width:280px;
  margin-left: auto;
  margin-right: auto;
}
.editInfoBtn>img{
  float: left;
  margin-top: 6px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
}
.deleteInfoBtn{
  float: right;
  margin-right: 5px;
  width:17px;
  height: 17px;
  padding: 0;
}
.deleteInfoBtn:hover{
  cursor: pointer;
}
table{
  color: #4FFF88;
  width: 900px;
  margin-left: 5%;
  margin-bottom: 30px;
  border-collapse:collapse;
  text-align: center;
  font-family: FZLT;
  font-size: 15px;
  font-weight: bold;
}
tr{
  border-width: 0px;
  border-bottom:  2px solid #9FCA94;
}
th,td{
  width: 300px;
}
th{
  font-size: 20px;
  border-top:2px solid #9FCA94;
}
